[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
synapseformation = {file = ".", path = "."}

[dev-packages]
synapseformation = {file = ".", editable = true, path = ".", extras = ["pytest"]}
